#List of files to ignore


#the dump of old files before version control
Analysis/old/*
Analysis\old\*

Papers/Literature/*
Papers\Literature\*

#LaTeX garbage
*.aux
*.bib
*.bib.bak
*.bbl
*.blg
*.out
*.synctex.gz


#Stata data files
*.dta

#Excel
*.xls
*.xlsx