#List of files to ignore


#the dump of old files before version control
Analysis/old/*
Analysis\old\*

Papers/Literature/*
Papers\Literature\*
Papers/old/*
Papers/Slides/*
Papers/latex_templates/*

Apps\*
Apps\old\*
Apps/*
Apps/old/*
By_Zip_and_Date/*
Crosswalk/*
Data/*
Deaths/*
FOIA/*
ICPSR/*
Logs/*
Maps/*
Media/*
Mortality/*
Newspaper/*
#Add only the new .tex version of tables
Output/*.txt
Output/*.gph
Output/old/*
Output/PDF/*
Political/*
Population/*
Recruiters/*
Unemployment/*

#LaTeX garbage
*.aux
*.bib
*.bib.bak
*.bbl
*.blg
*.out
*.synctex.gz
*.nav
*.snm
*.toc
*.log
*.pdf


#Stata data files
*.dta

#Excel
*.xls
*.xlsx

*.zip
